header {
    display: grid;
    grid-template-columns: 10;
    flex-wrap: wrap;
}

.container {
    width: 100%;
    margin: auto;
}

main {
    display: flex;
    flex-direction: column;
    padding-left: 3em;
    padding-right: 3em;
}

.logo {
    margin-left: 2em;
    margin-top: 2em;
    display: grid;
    flex-direction: column;
    justify-content: space-evenly;
    margin-bottom: 2em;
}

section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 0;
    margin-bottom: 1em;
}

MyInfo {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    margin-left: 2em;
}

Portfolio {
    display: flex0;
    flex-direction: column;
}

Portfolio h1 {
    text-align: right;
    padding-right: 2rem;
}
.GitLink {
    text-align: end;
    padding-right: 2rem;
}

projects {
    display: grid;
    grid-template-columns: row;
    }

footer {
    padding-top: 3em;
    margin-bottom: 4em;
}


