body {
    background-color: aqua;
}


h1 {
    color: black;
}

h2 {color: black;}

#logo { 
    margin-left: 2em;
    margin-top: 2em;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-bottom: 1em;
}

nav {
    background-color: yellow;
    border: solid;
    border: 2em
}

nav ul li {
    background-color: hotpink;
    padding: 2em;
}