body {
    background-color: aqua;
}

h1 {
    color: black;
}

nav {
    background-color: yellow;
    border: solid;
    border: 2em
}


nav ul {
    display: flex;
    justify-self: center;
    justify-content: flex-end;
    flex-wrap: wrap;
    gap: 3em;
    margin-right: 3em;
    margin-top: 0;
    margin-bottom: 1em; 
}











nav ul li {
    background-color: hotpink;
    padding: 2em;
}

main {
    display: flex;
    flex-direction: column;
    padding-left: 3em;
    padding-right: 3em;
}










