body {
    background-color: aqua;
}

.container {  display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 15% 1fr 1fr;
    gap: 4px 4px;
    grid-auto-flow: column;
    grid-template-areas:
      "Photo Header Header"
      "Photo About-Me About-Me"
      "Projects Projects Links";
  }
  
  .Links {
    justify-self: stretch;
    grid-area: Links;
  }
  
  .Projects { grid-area: Projects; }
  
  .About-Me { grid-area: About-Me; }
  
  .Photo { grid-area: Photo; }
  
  .Header { grid-area: Header; }
  

